@import ../../utils/background
@import ../../utils/borders
@import ../../utils/flexbox
@import ../../utils/outline
@import ../../utils/position
@import ../../utils/text

.message-composer
  @extend .bg-white
  @extend .border-0-b
  @extend .border-1-t
  @extend .border-1-x
  @extend .border-grey-lt
  @extend .border-solid
  @extend .flex-column
  @extend .position-fixed
  bottom: 0
  height: 600px
  right: 30px
  width: 605px

  .close
    @extend .cursor-pointer
    @extend .flex

  &-header
    @extend .align-items-center
    @extend .bg-black
    @extend .flex
    @extend .justify-space-between
    @extend .p-3
    @extend .text-small
    @extend .text-white

  &-body
    @extend .bg-white
    @extend .flex
    @extend .flex-grow-1

    form
      @extend .flex-column
      @extend .justify-space-between
      @extend .width-100

      input, textarea
        @extend .border-none
        @extend .flex-grow-1
        @extend .outline-none

      label, div
        @extend .align-items-center
        @extend .border-0-t
        @extend .border-0-x
        @extend .border-1-b
        @extend .border-grey-lt
        @extend .border-solid
        @extend .flex
        @extend .justify-space-between
        @extend .p-3

      label
        @extend .text-grey

        input
          @extend .m-3-l

      .message-body
        @extend .flex-column
        @extend .flex-grow-1

        textarea
          @extend .flex-grow-1
          @extend .width-100

  &-footer
    @extend .align-items-center
    @extend .bg-white-dk
    @extend .flex
    @extend .justify-space-between
    @extend .p-3-l
    @extend .p-3-y
    @extend .p-5-r

  &-send-button
    @extend .bg-blue
    @extend .border-1
    @extend .border-blue-dk
    @extend .border-radius-2
    @extend .border-solid
    @extend .cursor-pointer
    @extend .outline-none
    @extend .p-2-y
    @extend .p-4-x
    @extend .text-small
    @extend .text-white
