@import ../../utils/background
@import ../../utils/borders
@import ../../utils/flexbox
@import ../../utils/outline
@import ../../utils/position
@import ../../utils/text

.message-composer
  @extend .bg-white
  @extend .border-0-b
  @extend .border-1-t
  @extend .border-1-x
  @extend .border-grey-lt
  @extend .border-solid
  @extend .flex-column
  @extend .position-fixed
  bottom: 0
  height: 600px
  right: 30px
  width: 605px

  &-header,
  &-body
    @extend .p-3

  &-header
    @extend .bg-black
    @extend .text-small
    @extend .text-white

  &-body
    @extend .bg-white
    @extend .flex-grow-1
    @extend .p-3

  &-footer
    @extend .align-items-center
    @extend .bg-white-dk
    @extend .flex
    @extend .justify-space-between
    @extend .p-3-l
    @extend .p-3-y
    @extend .p-5-r

  &-send-button
    @extend .bg-blue
    @extend .border-1
    @extend .border-blue-dk
    @extend .border-radius-2
    @extend .border-solid
    @extend .outline-none
    @extend .p-2-y
    @extend .p-4-x
    @extend .text-small
    @extend .text-white
